.SinglePackage {
  margin: 40px;
  border: 5px solid pink;
  text-align: center;
  background-color: aliceblue;

}

.Description {
  line-height: 1.6;
}

.Depends {
  display: grid;
  padding: 30px;
  grid-gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.Dependants {
  display: grid;
  padding: 30px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}